body {
  font-family: sans-serif;
  font: 100%;
}
#title {
  text-align: center;
  line-height: 1.5em;
}

#crossword-puzzle {
  width: 50em;
  margin-bottom: 100px;
  margin: auto;
   
}

.letter {
  line-height: 1.5em;
  height: 1.2em;
  width: 1.2em;
  float: left;
  font-size: 1.5em;
  text-align: center;
  border: .025em solid #000044;
  
  
}
.wrapper {
  position: relative;
  float: left;
  background-color: yellow;
  z-index: 5;
  line-height: 1em;
  
}

.num {
  position: absolute;
  top: 3px;
  left: 3px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    z-index: 10;
    
}

/*squares without letters*/
input:disabled{
  background-color:#000044;;
}

input::text {
  opacity: 0;
  color: transparent;
 
}

input {
  padding: 0.025em;
}



input:focus {
    background-color: yellow;
}

.hideletter::placeholder {
  opacity: 0;
  color: transparent;
  color: #fff
}



button {
  border-radius: 12px;
 
  margin: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #000044;
  color: white;
}

#cluesWrapper {
  margin-left: 20%;
  width: 350px;
  text-align: left;

  float: left;

}

#buttonWrapper {
  float: right;
  
  margin-top: 5%;
  margin-right: 30%;
}


  

 











 
